<h1>Octicons</h1>
<div>
{{#each icons as |icon|}}
  {{octicon icon=icon}}
  {{octicon icon=icon height=24 width=24}}
  {{octicon icon=icon height=36 width=36}}
  {{octicon icon=icon height=48 width=48}}
  {{octicon icon=icon height=72 width=72 class="mega-icon"}}
{{/each}}
</div>

<div>
{{#each icons as |icon|}}
  {{octicon-icon icon=icon}}
{{/each}}
</div>
